todo
  ul
    li(each='{ todoList }')
      div.title { title }
      div.description { description }

  script.
    const self = this
    self.todoList = []

    self.on('mount', () => {
      document.getElementById('todo-form')
              .addEventListener('submit', onSubmit, false)
    })

    onSubmit = (e) => {
      e.preventDefault()

      let children    = e.target.children
      let title       = children.title
      let description = children.description

      if(title.value === '' && description.value === '')
        return

      let todo = {
        title: title.value,
        description: description.value
      }

      self.todoList.push(todo)
      self.update(self.todoList)

      title.value = ''
      description.value = ''
    }
